/* Author: Bagus Dwi Utama @baguskah 082116611993*/
/* Template: BLST-Company */

/* FONT */
/*		Fonts		*/

@font-face {
    font-family: 'lato-black';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-black.woff') format('woff'),
         url('../fonts/lato-black.ttf') format('truetype'),
         url('../fonts/lato-black.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato-light.eot');
    src: url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light.woff') format('woff'),
         url('../fonts/lato-light.ttf') format('truetype'),
         url('../fonts/lato-light.svg#LatoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
         url('../fonts/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato-hairline';
    src: url('../fonts/lato-hairline.eot');
    src: url('../fonts/lato-hairline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-hairline.woff') format('woff'),
         url('../fonts/lato-hairline.ttf') format('truetype'),
         url('../fonts/lato-hairline.svg#LatoHairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#RalewayBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light.eot');
    src: url('../fonts/raleway-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light.woff') format('woff'),
         url('../fonts/raleway-light.ttf') format('truetype'),
         url('../fonts/raleway-light.svg#RalewayLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#RalewayRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#RalewaySemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Large Tablet Landscape */
@media only screen and (max-width: 1024px) {
  .hide-tablet{
    display: none;
  }
}

/* Phone + Small Tablet Landscape */
@media only screen and (max-width: 800px) {

}

/* Large Tablet Landscape */
@media only screen and (max-width: 768px) {

}

/* Small Tablet Portait */
@media only screen and (max-width: 600px) {

}

/* Phone Landscape and Portait */
@media only screen and (max-width: 480px) {

}

/* Phone Portait */
@media only screen and (max-width: 320px) {

}



/* Slider */
.slider-wrapper {
    position:  absolute;
    height: 517px;
    overflow:  hidden;
    width: 100%;
}

#slider-navigation {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 478px;
    z-index: 1;
}

.mySlides {
    display: none;
    height: 100%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides .text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 150px;
  width: 60%;
  text-align: left;
  margin-left: 7%;
}

/* Caption */
.mySlides .text .mean_cap{
  font-family: "lato-black", Helvetica, Arial, sans-serif;
  font-size: 41px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  line-height: 90%;
}

.mySlides .text .sub_cap{
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 41px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  line-height: 90%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Header */
#logo-perusahaan-warper {
  max-width: 200px;
  margin-top: 50px;
}

#logo{
  max-width: 200px;
}

#menu-kanan {
    width: auto;
    height: auto;
    position: absolute;
    right: 15px;
    top: 15px;
}

#navbarNav{
  background: white;
  padding:10px;
  border-radius: 0px 0px 20px 20px;
}

#navbarNav ul{
  margin:auto;
  padding:0
}

#navbarNav ul li{
  list-style-type: none;
  display: inline;
  margin:10px
}

#navbarNav ul li a{
  color:black;
  font-size: 10pt;
}

.right-header-panel div{

  font-size: 15pt;

}

select.select-lg-transparent {
    background: none;
    color:  white;
    height:30px;
    font-size: 14pt;
}

.search-warper{
  position: absolute;
  right: 30px;
  color:white;
  padding:10px;
  width: 72px;
}

#language-switcher-warper{
  position: absolute;
  right: 2px;
  padding: 10px;
  width: 72px;
}

.menu-column{
    text-align: right;
    width: 130px;
    float: right;
    padding-top: 30px;
  }

  .tombol-menu{
    color: white;
    margin-top: 70px;
    float:right;
  }

  .menuspan{
    font-size: 19pt;
    font-weight: 600;
  }

  .icMenu{
    width: 45px;
      height: 33px;
      position: relative;
      margin: 0;
      float: right;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
  }

  .icMenu span{
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 9px;
      opacity: 1;
      left: 10px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

  }

  .icMenu span:nth-child(1) {
      top: 0;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }

  .icMenu span:nth-child(2) {
      top: 15px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }

  .icMenu span:nth-child(3) {
      top: 30px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
  }


/* Menu Kanan Slide */
/* Slider Navigasi */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.3s;
    /* padding-top: 60px; */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    crusor:pointer;
}

.sidenav .closebtn {
    position: absolute;
    color: black;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-header{
  height: 10%;
  background: #ffa100;
  padding: 20px;
  margin-bottom: 18px;
}

.sidenav-footer{
  /* height: 100%; */
  /* background: #ffa100; */
  margin-top: 22px;
}

.nav-title{
  font-size: 15pt;
  padding-left: 11px;
  font-weight: 600;
}

.logo-menu-button{
  position: absolute;
  bottom: 46px;
  left: 22px;
}

.logo-menu-button img{
  width: 100px;
}

.logo-medsos{
  position: absolute;
  bottom: 19px;
  padding: 12px;
  margin: 10px;
  color: #555555;
  right: 0px;
  font-size: 26pt;
}

#header-menu-title {
    position: relative;
    -moz-box-shadow: 1px 2px 40px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 40px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 40px rgba(0, 0, 0, .5);
    /* padding: 10px; */

}

#header-menu-title::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    left: 0%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

#slider-wrapper{
  height: 550px;
}

.up-head-bold{
  font-family: "lato-black", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
}

.down-head-bold{
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
  line-height: 20px;
}

/* Featured News */
.flex-viewport{
  overflow: hidden; position: relative;
}


.berita-terakhir{
    margin-top: 26px;
    padding: 17px;

}

.up-head-bold{
  font-family: "lato-black", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
}

.down-head-bold{
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
  line-height: 20px;
}

.li-slide-berita {
  width: 4%;
  margin-right: 0px;
  float: left;
  display: block;
}

.berita-list .date-berita{
  color: #666;
  text-decoration: none;
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  display: block;
}

.berita-list a{
    color: #5c5c5c;
    text-decoration: none;
    font-family: "lato-black", Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    padding-right: 3em;
    line-height: 1.2em;
}

.slides-berita{
  width:1000%;
  transition-duration: 0.5s;
  transform:translate3d(0px,0px,0px);
}

.flex-direction-nav{
  list-style: none;
  display: flex;
  margin: 0px;
  position: absolute;
  right: -51px;
  top: 23px;
}



#geserkiri:before{
    font-family: "FontAwesome";
    font-size: 50px;
    display: inline-block;
    content: '\f104';
    color: #696969;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 1;
}

#geserkanan:before{
    font-family: "FontAwesome";
    font-size: 50px;
    display: inline-block;
    content: '\f105';
    color: #696969;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 1;
}
.flex-viewport{
  overflow: hidden; position: relative;
}


.berita-terakhir{
    margin-top: 26px;
    padding: 17px;

}

.up-head-bold{
  font-family: "lato-black", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
}

.down-head-bold{
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
  line-height: 20px;
}

.li-slide-berita {
  width: 4%;
  margin-right: 0px;
  float: left;
  display: block;
}

.berita-list .date-berita{
  color: #666;
  text-decoration: none;
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 22px;
  display: block;
}

.berita-list a{
    color: #5c5c5c;
    text-decoration: none;
    font-family: "lato-black", Helvetica, Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    padding-right: 3em;
    line-height: 1.2em;
}

.slides-berita{
  width:1000%;
  transition-duration: 0.5s;
  transform:translate3d(0px,0px,0px);
}

.flex-direction-nav{
  list-style: none;
  display: flex;
  margin: 0px;
  position: absolute;
  right: -51px;
  top: 23px;
}



#geserkiri:before{
    font-family: "FontAwesome";
    font-size: 50px;
    display: inline-block;
    content: '\f104';
    color: #696969;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 1;
}

#geserkanan:before{
    font-family: "FontAwesome";
    font-size: 50px;
    display: inline-block;
    content: '\f105';
    color: #696969;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    line-height: 1;
}

.tag-company {
    display: block;
    background: orange;
    width: 78px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 500;
}

.short-desc-wrapper {
    background: orange;
    margin-top: 3em;
    padding: 20px;
    display: block;
}

.tab-atas-short-desc {
    width: 100%;
    background: white;
    padding: 14px;
    margin-top: -28px;
}

.tab-atas-short-desc .title-company{
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #696969;
  text-transform: uppercase;
  line-height: 28px;
}

a.nav-link.tab-atas {
    background: gainsboro;
    color: black;
    margin: 11px;
    text-transform: uppercase;
}


.tab-atas-short-desc .active {
  background-color: orange !important;
  color:white;
  font-weight: bolder;
}

.tab-wrapper-tentang-kami .active {
    background: whitesmoke;
}

.tagline-company {
  font-family: "lato-light", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  font-size: 41px;
  color: #cecece;
  text-transform: uppercase;
  line-height: 42px;
  top: 15px;
  padding: 14px;
  position: absolute;
  left: 32px;
}

.deskripsi-features{
  padding-top: 60px;
    padding-bottom: 60px;
    font-weight: lighter;
    padding-right: 100px;
    padding-left: 50px;
}

.btn-selengkapnya {
    background: grey;
    color: white;
    border-radius: 0px;
}

.btn-selengkapnya:hover {
    color: orange;
}

.featured-profile-image{
  padding: 0px;
}

.featured-profile-image img{
  width: 580px;
}

.column-2{
  -moz-column-count: 2;
-moz-column-gap: 20px;
-webkit-column-count: 2;
-webkit-column-gap: 20px;
column-count: 2;
column-gap: 20px;
}

.list-perusahaan{
  margin-top: 100px;
  margin-bottom: 40px;
}

.list-perusahaan ol {
   list-style: none;
 }
.list-perusahaan li {
   counter-increment: item;
   margin-bottom: 18px;
 }
.list-perusahaan li:before {
   margin-right: 10px;
   content: counter(item);
   background: orange;
   /* border-radius: 100%; */
   float:left;
   color: white;
   width: 1.2em;
   text-align: center;
   display: inline-block;
 }

 .list-perusahaan a {
    color: grey;
    text-transform:  uppercase;
    font-weight: bolder;
}

.list-perusahaan i {
  color: grey;
position: relative;
font-size: 9pt;
display: block;
}

.box-shareholder {
  width: 260px;
  height: 250px;
  background: #e2e2e2;
  color: #484848;
  border-radius: 39px;
  margin: auto;
  margin-top: 18px;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
}

.logo-shareholder {
    position: absolute;
    right: 14px;
    top: 14px;
}

.logo-shareholder img {
    max-width:80px;
}

.angka-shareholder {
    line-height:  0px;
}

.angka-shareholder h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30pt;
}

.title-shareholder {
    margin-top: 31px;
    width: 168px;
    text-transform:  uppercase;
}

.angka-shareholder-wrapper {
    width: 131px;
    margin:  auto;
    background: orange;
    text-align:  center;
    font-size:  16pt;
    padding:  6px;
    border-radius:  10px;
    margin-top: 9px;
}
